.login-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
  height: 100%;
  background: rgba(15, 15, 15, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.login-popup-container {
  background: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  width: 500px;
  height:500px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: slideUp 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.login-popup-title h2 {
  margin: 0;
  text-align: center;
  font-size: 24px;
  color: #333;
}

.close-icon {
  font-size: 24px;
  color: #888;
  cursor: pointer;
  transition: 0.2s ease;
}
.close-icon:hover {
  color: #ff6347;
}

.login-popup-inputs input {
  width: 100%;
  padding: 10px 12px;
  font-size: 20px;
  margin-top:15px;
  margin-left: -12px;
height:40px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.login-popup-container button {
  padding: 12px;
  background-color: #ff6347;
  color: white;
  height:70px;
  border: none;  margin-left: -2px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}
.login-popup-container button:hover {
  background-color: #e5533c;
}

.login-popup-condition {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  font-size: 20px;
  color: #444;
}

.login-popup p {
  font-size: 20px;
  color: #555;
  margin-left: -25px;
  text-align: center;
}
.login-popup .para {
  font-size: 20px;
  color: #555;
  margin-top: -20px;
  text-align: center;
 
}
.submit{
    margin-left:20px;
 
    margin-top:25px;
}
.login-popup .para1 {
  font-size: 18px;
  color: #555;
  margin-top: -20px;
 text-align: center;
}

.login-popup span {
  color: #ff6347;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  margin-left: 5px;
  margin-top: -40px;
}
