.navbar{
      margin-left: 30px;
    margin-right: 30px;
    padding:0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu{
    display: flex;
.navbar .logo{
width:200px;
color:tomato;

    }
    list-style: none;
    gap:40px;
 color:#49557e; 
font-size: 18px;
}
  a{
    text-decoration: none;}
.lo{
    font-weight: bolder;
    font-size:30px;
}
.navbar ul li a{
    text-decoration: none;
    color:black;
    font-size: larger;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap:40px;
}
.navbar li{
    cursor: pointer;
}

.navbar button{
    background-color: transparent;
    color:#49557e;
    border: 1px solid tomato;
    width:150px;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
}
.navbar button:hover{
background-color: #fff4f2;
}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
min-height: 10px;
min-width: 10px;
background-color: tomato;
border-radius: 5px;
top:-8px;
right:-8px;}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 20px;
  }

  .navbar-menu {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
  }

  .navbar-right {
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    width: 100%;
  }

  .navbar button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }

  .lo {
    font-size: 24px;
  }

  .navbar ul li a {
    font-size: 16px;
  }
}