.footer{
    color:#d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding:10px 8vw;
    padding-top:80px;
    margin-top:100px;

}.logo{
width:300px;
font-size: 50px;
color:tomato;
}
.footer-content{
    display: grid;
    width:100%;
    grid-template-columns: 2fr 1fr 1fr;
    gap:80px;
}

  .footer-content-left , .footer-content-center , .footer-content-right li{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:20px;
    cursor: pointer;
  }
  .ul{
    margin-top: -20px;
  }
  .footer-content-left li ,   .footer-content-right li{
    list-style: none;
    margin-bottom: 10px;
  }
  .footer-content-center li{
     list-style: none;
    margin-bottom: 10px;
    margin-left:-30px;
    
  }
    .footer-content-left h2, .footer-content-center h2{
color:white;
  }
  .footer-social-icons{
width: 250px;
margin-top: -20px;
gap:40px;

font-size: 40px;
  }
  .para{
    margin-top: -40px;
    font-size: 20px;
    width:600px;
  }
  .head{
    color:rgb(255, 255, 255);
  }
.footer hr{
    width:100%;
    height:2px;
    margin:20px 0px;
    border:none;
    background-color: grey;
}