/* Recepie.css */
body {
  font-family: 'Segoe UI', sans-serif;
  background: #f5f5fa;
  margin: 0;
  padding: 0;
  font-size: 21px;
}

.recipe-container {
  max-width: 800px;
  margin: auto;
  display:block;
 
  padding: 30px 20px;
}

h1, h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

.recipe-list .grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.recipe-card {
  background: #fff;
  border-radius: 16px;
  margin-bottom:30px;
  padding: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.recipe-card:hover {
  transform: translateY(-5px);
}

.recipe-card h3 {
  margin-top: 0;
  color: #c62828;
}

.recipe-card p {
  color: #666;
  margin-bottom: 10px;
}

.recipe-card button {
  background-color: #c62828;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
}

.recipe-card button:hover {
  background-color: #b71c1c;
}

.recipe-detail {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.08);
}

.recipe-detail h2 {
  color: #2e7d32;
}

.recipe-detail ul,
.recipe-detail ol {
  padding-left: 20px;
  margin-bottom: 20px;
}

.recipe-detail li {
  margin-bottom: 10px;
  line-height: 1.5;
}

.recipe-detail .description {
  font-style: italic;
  color: #555;
  margin-bottom: 20px;
}

button{
  background: #333;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}



.animate {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    transform: scale(0.98);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
