.explore-menu{
    display: flex;
    gap:20px;
    flex-direction: column;
    margin-left: 50px;
 margin-right: 50px;
}
.explore-menu h1{
    font-weight: 500;
    color: #262626;
}
.explore-menu-text{
    margin-top: -20px;
    max-width: 80%;
    font-size: 22px;
    color:#808080;
}
.explore-menu-list{
    display:  flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    text-align: center;
    gap:30px;
    margin: 20px 0px;
}
.explore-menu-list::-webkit-scrollbar{
    display: none;


}


.explore-menu-list-item p{
   
    margin-top: 10px;
 
    cursor: pointer;
   color:#747474;
font-size: max(1.4vw ,16px);
   
}
.explore-menu hr{
    margin: 10px 0px;
    height:2px;
background-color: #e2e2e2;
border: none;

}


.explore-menu-list-item img {
    width:7.7vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    box-sizing: border-box;
}

.explore-menu-list-item img.active {
  border: 4px solid orange;
 padding: 2px ;
}