.image{
    width:380px;
    height: 320px;
}
.food-item{
    margin-left: 30px;
margin-top: 20px;
border-radius: 15px;;

box-shadow: 0px  0px 10px #00000015;
transition: 0.3s;

}
.food-item .image{
width:100%;
border-radius: 15px 15px 0px 0px;

}


.food-item-info{
 margin-left: 20px;
    
    align-items: center;
  

}
.food-item-name-rating p{
    font-size: 20px;
    font-weight: 500;
}
.food-item-name-rating img{ 
width:70px;
}
.food-item-description{
    font-size: 18px;
    color: #676767;

}
.food-item-price{
    font-weight: 500;
color:tomato;
font-size: 22px;
margin: 10px 0px;}

.food-item-img-container{
position: relative;

}
.food-item-img-container .add{
    width:35px;
    height:35px;
    position: absolute;
    bottom: 15px;
    right:15px;
    color:black;
    font-weight: 600;
    background-color: white;
    font-size: 40px;
cursor: pointer;
border-radius: 50%;
}

.food-item-counter{
    position: absolute;
    bottom: 15px;
    right:15px;
    display: flex;
    align-items: center;
      gap:10px;
      width: 90px;
      text-align: center;
 padding-left:10px;
  padding-right:10px;
   border-radius: 50px;
    background-color: white;

}
.adding{
color:red;
background-color:pink;
 width:30px;
height:30px;
border-radius: 50%;
}
.remove{
  width:30px;
height:30px;
border-radius: 50%;
  color :green;
  background-color: greenyellow;

}